body {
    font-family: 'Mulish', sans-serif;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 99%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.logo img {
    width: 48px;
    height: 56px;
}

.logo h1 {
    margin-left: 16px;
    text-transform: capitalize;
}

.logo-black {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

.logo-org {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.responsive-nav {
    display: none;
}

.nav {
    margin-right: 10px;
}

#nav-select {
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.nav nav {}

.nav nav ul {
    display: flex;
    gap: 44px;
}

.nav nav ul li {
    list-style: none;
}

.nav nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.banner {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    background-image: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    width: 100%;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content-hading {
    text-align: center;
    width: 676px;
}

.banner-content-hading h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-content-hading p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 27px;
    margin-bottom: 48px;
}

.banner-content-input {
    display: grid;
    grid-template-columns: repeat(4, 174px);
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 24px;
}

.banner-content-input input {
    height: 52px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
}

.btn-praimary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    outline: none;
    text-transform: capitalize;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.banner-content-input select {
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    height: 52px;
}

.banner-content-input option {
    background-color: black;
    color: white;
    overflow: hidden;
}

.popular-tours {
    margin-top: 100px;
    display: flex;
    gap: 9%;
    align-items: center;
}

.tours-content {
    width: 45%;
    margin-left: 10px;
}

.tours-content h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.tours-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.tours-content ul {}

.tours-content ul li {
    margin-top: 16px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.tours-images {
    width: 45%;
    margin-right: 10px;
}

.tours-images img {
    width: 100%;
}

.gap-50 {
    margin-bottom: 50px;
}

.destination {
    margin: 113px auto 0px auto;
    width: 98%;
}

.destination-hading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-hading h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.destination-hading p {
    width: 643px;
    margin-top: 24px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
}

.destination-images {}

.images-box1 {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 24px;

}

.maldives {
    background: url(../Images/maldives.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
}

.Indonesia {
    background: url(../Images/Indonesia.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
}

.bg-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 100%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.images-box2 {
    display: grid;
    grid-template-columns: repeat(3, 28% 38% 28%);
    gap: 24px;
    margin-top: 24px;
}

.srilanka {
    background: url(../Images/srilanka.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
}

.North-America {
    background: url(../Images/north-america.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
}

.Kashmir {
    background: url(../Images/kashmir.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
}

.images-box3 {
    display: grid;
    grid-template-columns: repeat(2, 38% 59%);
    gap: 24px;
    margin-top: 24px;
}

.bangladesh {
    background: url(../Images/bangladesh.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
}

.Bandarban {
    background: url(../Images/bandarban.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 16px;
}

.choose-us {
    margin-top: 100px;
}

.choose-header {
    text-align: center;
}

.choose-header h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.choose-header p {
    width: 643px;
    margin: auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.chose-content {}

.chose-box-1 {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.chose-hotel {
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.chose-hotel img {
    width: 64px;
    height: 64px;
    margin: 32px 0px 32px 32px;
}

.chose-hotel h1 {
    margin-left: 32px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.chose-hotel p {
    margin-left: 32px;
    margin-top: 16px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.chose-map {
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.chose-map img {
    width: 64px;
    height: 64px;
    margin: 32px 0px 32px 32px;
}

.chose-map h1 {
    margin-left: 32px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.chose-map p {
    margin-left: 32px;
    margin-top: 16px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.chose-box-2 {
    margin-top: 24px;
}

.chose-price {
    height: 284px;
    width: 46%;
    margin: auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.chose-price img {
    width: 64px;
    height: 64px;
    margin: 32px 0px 32px 32px;
}

.chose-price h1 {
    margin-left: 32px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.chose-price p {
    margin-left: 32px;
    margin-top: 16px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.simple-perfect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 113px;
}

.simple-content {
    width: 47%;
}

.simple-content h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    width: 448px;
    line-height: 60px;
    margin-bottom: 24px;
}

.simple-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.simple-content ul {}

.simple-content ul li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 16px;
}

.simple-content button {
    margin-top: 33px;
}

.simple-images {
    width: 47%;
    text-align: center;
    background: url(../Images/group40089.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 424px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.s-c-images {

    color: #FFF;

    font-size: 24px;

    font-weight: 700;

    width: 276px;
}

.our-blog {
    margin-top: 100px;
}

.blog-header {
    text-align: center;
}

.blog-header h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.blog-header p {
    width: 643px;
    margin: auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.blog-content {}

.blog-box-1 {
    display: grid;
    grid-template-columns: repeat(3, 29% 39% 29%);
    gap: 10px;
}

.blog-1 {
    background: url(../Images/blog-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.blog-1 {
    height: 300px;
}

.blog-2 {
    background: url(../Images/blog-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.blog-3 {
    border-radius: 16px;
    background: url(../Images/blog-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-bg {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #36549761;
    gap: 10px;
    border-radius: 16px;
}

.video-bg img {
    width: 20%;
}

.blog-box-2 {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.blog-4 {
    border-radius: 16px;
    background: url(../Images/blog-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-5 {
    border-radius: 16px;
    background: url(../Images/blog-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}






.newsletter {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 46%);
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.newsletter-input {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.newsletter-input p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    /* 162.5% */
    width: 75%;
}

.newsletter-input h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.n-input {
    display: grid;
    grid-template-rows: repeat(3, 52px);
    gap: 16px;
    margin-top: 48px;
}

.n-input input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline: none;
    border: none;
    padding-left: 20px;
    width: 90%;
}

.n-input button {
    width: 94%;
}

.newsletter-images {
    height: 422px;
    width: 100%;
    background: url(../Images/rectangle8.png);
    border-radius: 16px;
}

.discount-news {
    border-radius: 16px;
    background: #FF5400;
    width: 277px;
    height: 115px;
    transform: rotate(-19.628deg);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 255px;
    left: 173px;
}

.discount-news h5 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.discount-news h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 100;
}

.footer {
    margin-top: 100px;
}

.footer-bg {
    background: rgba(19, 19, 24, 0.05);
}

.footer-content {
    text-align: center;
}

.footer-content p {
    width: 670px;
    margin: 15px auto 33px auto;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.icon-groop {
    margin-bottom: 50px;
}

.icon-groop img {}

.footer-copyright {
    width: 60%;
    border-top: 1px solid rgb(19 19 24 / 26%);
    margin: auto;
    text-align: center;
}

.footer-copyright p {
    padding-top: 50px;
    padding-bottom: 110px;
}

.footer-copyright p small {}

#footer-logo {
    padding-top: 110px;
}

/* max-width----600-responsive */
@media screen and (max-width: 600px) {
    .navbar {}

    .nav {
        display: none;
    }

    .responsive-nav {
        display: unset;
        margin-right: 18px;
    }

    .banner {
        height: auto;
    }

    .bg {
        height: auto;
    }

    .banner-content-input {
        grid-template-columns: repeat(1, 90%);
        width: 78%;
        justify-content: center;
    }

    .btn-praimary {
        width: 100%;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content-hading {
        width: 100%;
    }

    .banner-content-hading h1 {
        font-size: 22px;
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .logo-black,
    .logo-org {
        font-size: 21px;
    }

    .logo img {
        width: 28px;
        height: 33px;
    }

    .popular-tours {
        margin-top: 24px;
        flex-direction: column;
        width: 95%;
        margin: 24px auto 0px auto;
    }

    .tours-content {
        width: 100%;
    }

    .tours-content h1 {
        font-size: 20px;
    }

    .tours-images {
        width: 96%;
        margin: 24px auto 0px auto;
    }

    #btn-width {
        width: 39%;
    }

    .destination-hading h1 {
        font-size: 20px;
    }

    .destination-hading p {
        width: 90%;
        font-size: 14px;
    }

    .images-box1,
    .images-box2,
    .images-box3 {
        grid-template-columns: repeat(1, 90%);
        justify-content: center;
    }

    .maldives,
    .Indonesia,
    .srilanka,
    .North-America,
    .Kashmir,
    .bangladesh,
    .Bandarban {
        height: 175px;
    }

    .choose-us {
        margin-top: 24px;
    }

    .choose-header p {
        width: 75%;
    }

    .chose-box-1 {
        grid-template-columns: repeat(1, 90%);
        gap: 16px;
    }

    .chose-price {
        width: 90%;
    }

    .chose-box-2 {
        margin-top: 16px;
    }

    .chose-map,
    .chose-hotel,
    .chose-mapgi {
        height: auto;
        padding-bottom: 32px;
    }

    .simple-perfect {
        flex-direction: column;
        margin-top: 24px;
        align-items: normal;
    }

    .simple-content h1 {
        width: 56%;
        font-size: 20px;
        margin-left: 20px;
        line-height: 24px;
    }

    .simple-content {
        width: 100%;
    }

    .simple-content p {
        margin-left: 20px;
    }

    .simple-content button {
        width: 33%;
        margin-left: 20px;
    }

    .simple-images {
        width: 95%;
        margin: auto;
    }

    .newsletter {
        grid-template-columns: repeat(1, 90%);
    }

    .discount-news {
        left: 123px;
        top: 140px;
        width: 70%;
        height: 31%;
    }

    .newsletter-images {
        height: 300px;
    }

    .footer-content p {
        width: 100%;
    }

    .blog-header p {
        width: 100%;
    }

    .blog-box-1,
    .blog-box-2 {
        grid-template-columns: repeat(1, 90%);
        justify-content: center;
    }
}

@media screen and (max-width:470px) {
    .discount-news{
    left: 84px;
}
.discount-news h5{
    font-size: 17px;
}
.discount-news h3{
    font-size: 23px;
}
}
@media screen and (max-width:332px) {
    .discount-news{
    left: 53px;
}
.discount-news h5{
    font-size: 17px;
}
.discount-news h3{
    font-size: 23px;
}
}